version: 2.1

parameters:
  terraform-plan-file:
    type: string
    default: 'circleci.tfplan'

executors:
  terraform:
    docker:
      - image: hashicorp/terraform:<< parameters.tag >>
    parameters:
      tag:
        default: 1.3.7
        description: Specify the Terraform Docker image tag for the executor
        type: string
  base:
    docker:
      - image: cimg/base:current
  ubuntu2204:
    machine:
      image: ubuntu-2204:2023.02.1

jobs:
  run:
    executor: ubuntu2204
    steps:
      - checkout
      - run:
          name: spin up Telegraf container via Docker Compose
          command: |
            docker-compose up -d
      - run: sleep 5
      - run:
          name: Inspect Telegraf (should show Invalid TOML error)
          command: |
            docker logs telegraf
      - run:
          name: Fix Telegraf config
          command: |
            # add quotes; better to use toml parsers (ideally)
            sed -e 's/http:\/\/rabbitmq:15672/\"http:\/\/rabbitmq:15672\"/' telegraf.conf > fixed.conf
      - run:
          name: Restart Telegraf
          command: |
            docker-compose down
            docker-compose up --renew-anon-volumes -d
      - run: sleep 5
      - run:
          name: Inspect Telegraf (should be fine now)
          command: |
            docker logs telegraf

workflows:
  main:
    jobs:
      - run
