version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0

parameters:
  terraform-plan-file:
    type: string
    default: 'circleci.tfplan'

executors:
  base:
    docker:
      - image: hashicorp/terraform:<< parameters.tag >>
    parameters:
      tag:
        default: 1.3.7
        description: Specify the Terraform Docker image tag for the executor
        type: string

jobs:
  run:
    executor: base
    steps:
      - setup_remote_docker
      - checkout
      - run: terraform version
      - run: terraform init
      - run: terraform fmt
      - run: terraform validate
      - run: terraform plan -out=<< pipeline.parameters.terraform-plan-file >>
      - run: terraform apply << pipeline.parameters.terraform-plan-file >>
      - run: terraform show

workflows:
  main:
    jobs:
      - run
